{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="new-post-div">
        <div class="new-post-title">New Post</div>
        <form action="{% url 'new' %}" method="post" id="new">
            {% csrf_token %}
            <div class="form-group">
                <textarea rows="4" cols="50" name="content" placeholder="What's on your mind?" autofocus></textarea>
                <input class="btn btn-primary" type="submit" value="Post">
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/edit.js' %} ?{% now 'U' %}"></script>
{% endblock %}